//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    #febc00;
$secondary:     blue;


$gray-base:	    #000000;
$gray: 	  	    #404040;
$gray-light:    #555555;
$gray-lighter:  #eeeeee;
$gray-lightest: #f5f5f5;


//** Typography
$primary-font:   'Roboto Mono', monospace;
$secondary-font: 'Poppins', sans-serif;

$font-size-base: 16px;
$font-size-small: 14px;
$font-size-xtra-small: 12px;
$h1: 450%;
$h2: 200%;
$h3: 180%;
$h4: 140%;
$h5: 120%;
$h6: 110%;


//** UI
$border-radius-base: 4px;

//-- Button
$btn-border-radius:  $border-radius-base;
